<html>
<head>
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<link rel="stylesheet" href="css/style.css" />
</head>
<body>


<div class="form" id="novel">
<div class="form_title">小说</div>
<form method="POST" action="/get_book" target="_blank">
目录页<input name="url" size="50" value="" />
<br />
<select name="type">
<option value="web" selected="selected">在线阅读</option>
<option value="html">html</option>
<option value="txt">txt</option>
<option value="markdown">markdown</option>
</select>
<input type="checkbox" name="with_toc" id="with_toc" checked>生成目录<br/>
<input type="submit" value="导出" />
</form>

找小说：
<script>
  (function() {
    var cx = '009772050743998195273:tk5ofqzqsvo';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox-only></gcse:searchbox-only>
</div>

<br/>

<div class="form" id="tiezi">
<div class="form_title">贴子</div>
<form method="POST" action="/get_tiezi" target="_blank">
贴子页<input name="url" size="40" value="" />
，前<input name="max_page_num" size="3"/>页，前<input name="max_floor_num" size="3"/>楼<br/>
<select name="type">
<option value="web" selected="selected">在线阅读</option>
<option value="html">html</option>
<option value="txt">txt</option>
</select>
<input type="checkbox" name="only_poster">只看楼主，<input type="checkbox" name="with_toc" value="1" checked>生成目录，每楼最少<input name="min_word_num" size="5"/>字<br/>
<input type="submit" value="导出" />
</form>
</div>

<br/>

<div class="form" id="baidu_music">
<div class="form_title">百度音乐</div>
<form method="POST" action="/get_music" target="_blank">

查询(可以输入专辑url) <input name="key" size="35"/>
音质
<select name="level">
<option value="0" selected="selected">最高</option>
<option value="1">其次</option>
<option value="2">再次</option>
<option value="3">最差</option>
</select>

文件编码
<select name="charset">
<option value="cp936" selected="selected">gbk</option>
<option value="utf8">utf8</option>
</select>
<br />
第<input name="page" size="5" value="1" />页，

音乐格式
<select name="format">
<option value="mp3" selected="selected">mp3</option>
<option value="flac">flac</option>
<option value="">随意</option>
</select>

目标
<select name="type">
<option value="online" selected="selected">直接播放(只支持mp3)</option>
<option value="xspf">vlc播放列表(支持flac)</option>
<option value="html">在线下载音乐</option>
</select>

<br/>

<input type="submit" value="处理" />
</form>

说明：在线播放需要设置以下站点的referer为http://music.baidu.com
<ul>
<li>zhangmenshiting.baidu.com</li>
<li>file.qianqian.com</li>
</ul>
</div>
</body>
</html>
