<html>
<head><meta http-equiv=Content-Type content="text/html;charset=utf-8">
</head>
<body>
<h1><center>小说导入完成<center></h1>
<ul>
<%FOREACH c IN chap %>
<li>
id : <% c.id %> , chapter : <% c.chapter %> , url : <% c.url %> 
</li>
<%END%>
</ul>
</body>
</html>
