body {
    font-size: medium;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 1em 8em 1em 8em;
    text-indent: 2em;
    line-height: 145%;
}

.head_title, .form_title {
    border-bottom: 0.2em solid #ee9b73;
    margin: 0.8em 0.2em 0.8em 0.2em;
    text-indent: 0em;
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 0.25em;
}

.head_title, ol { line-height: 150%; }
.head_title { text-align: center; }

.novel_form {
    text-indent: 0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

input {
    margin-left: 0.5em;
    margin-bottom : 0.3em;
    margin-top : 0.3em;
}

